@charset "UTF-8";

div#ola{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#ola{
    font-size: 5em;
    text-decoration: none;
    color: lightblue;
    text-shadow: 1px 1px 5px rgb(0, 4, 255);
    text-align: center;
    width: 1000px;

}