@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
section{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 0px 10px;
}

header{
    outline: 2px solid lightblue;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: inset 0px 0px 10px rgb(255, 255, 255);

    color: lightblue;
    text-shadow: 1px 1px 5px rgb(0, 4, 255);

    padding: 10px;
}

article{
    

    margin-top: 30px;
}

h1{
    font-size: 1.6em;
    margin: 5px 0px;
}

h2{
    font-size: 1.3em;
    margin: 5px 0px ;
    margin-bottom: 10px;
}

div{
    padding: 10px 10px;
    padding-bottom: 20px;
    margin-bottom: 2px;
    
}


div.tipos{
    height: 20px;
    overflow: hidden;

}



div#body{
    color: rgb(253, 231, 169);
    text-shadow: 1px 1px 5px rgb(255, 187, 0);
    border: 2px solid rgb(255, 187, 0);
    box-shadow: inset 0px 0px 10px rgb(255, 187, 0);
    transition: .3s;

}
div#body:hover{
    height: 4.8em;
    transition: .5s;
}

div#cpc{
    color: rgb(255, 113, 113);
    text-shadow: 1px 1px 5px red;
    border: 2px solid red;
    box-shadow: inset 0px 0px 10px red;
    transition: .3s;
}

div#cpc:hover{
    height: 5.8em;
    transition: .5s;
}
div#pjt{
    color: rgb(122, 195, 255);
    text-shadow: 1px 1px 5px rgb(0, 140, 255);
    border: 2px solid rgb(0, 140, 255);
    box-shadow: inset 0px 0px 10px rgb(0, 140, 255);
    transition: .3s;
}

div#pjt:hover{
    height: 4.6em;
    transition: .5s;
}
div#foco{
    color: rgb(229, 126, 255);
    text-shadow: 1px 1px 5px rgb(204, 0, 255);
    border: 2px solid rgb(204, 0, 255);
    box-shadow: inset 0px 0px 10px rgb(204, 0, 255);
    transition: .3s;
}

div#foco:hover{
    height: 7.3em;
    transition: .5s;
}
#textb{
    margin-top: 5px;
    color: rgb(182, 182, 182);
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}