@charset "UTF-8";

@media screen and (min-width: 765px){
    section{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        
    }

    div#body:hover{
        height: 55px;
        transition: .5s;
    }

    div#cpc:hover{
        height: 70px;
        transition: .5s;
    }

    div#pjt:hover{
        height: 55px;
        transition: .5s;
    }

    div#foco:hover{
        height: 80px;
        transition: .5s;
    }
}

@media screen and (min-width: 600px) and (max-width:765px){
    div#body:hover{
        height: 55px;
        transition: .5s;
    }

    div#cpc:hover{
        height: 70px;
        transition: .5s;
    }

    div#pjt:hover{
        height: 55px;
        transition: .5s;
    }

    div#foco:hover{
        height: 80px;
        transition: .5s;
    }

    div.tipos{
        height: 10px;
        overflow: hidden;
    }
}