@charset "UTF-8";

@font-face {
    font-family: "Ciberfuturo";
    src: url(Fonts/RETROTECH.ttf);
    font-weight: normal;
    font-size: normal;
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: black;
}

div.centro{
    text-align: center;
    margin-top: 5px;
}

div#pes{
    margin-bottom: 7px;
}
input#pesquisa{
    background-color: black;
    border: 1px solid rgb(173, 216, 230);
    box-shadow: 0px 0px 10px 3px rgba(143, 227, 255, 0.63);

    color: lightblue;
    text-shadow: 1px 1px 5px rgb(0, 4, 255);
    text-align: center;

    font-size: 1.2em;
}

div#icone{
    background-color: rgb(173, 216, 230);
    box-shadow: 0px 0px 10px 3px rgba(143, 227, 255, 0.63);
    cursor: pointer;
    
}
div#abas{
    display: none;
    height: 28px;

}
div#abas input{
    height: 28px;
    border: none;
    
}

input#poderes{
    background-color: blueviolet;
    padding: 5px;
    font-family: "Ciberfuturo";
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: rgb(166, 214, 229);
  text-shadow: 1px 1px 5px rgb(0, 4, 255);
}

section#conteudo iframe{
    border: 1px solid grey;
    box-shadow: 0px 0px 10px rgb(165, 165, 165);
    width: 99vw;
    height: 88vh;
}